page-about {

}
.img-header{
    width: 100%;
    height: 20%;
    background-color:darkslategrey;
    align-items: center;
    display: flex;
    padding: 20px;
}
.img-header img{
    padding: 20px;
}
.about-list{
    padding: 5px;
    width: 100%;
    height: 60%;

}
